.event-box {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  img {
    padding: 20px;
  }
  .desc {
    text-align: center;
    margin-bottom: 30px;
  }
  .step-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
  }
}