i.home {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background: url(../images/icon-home.png) no-repeat top;
    background-size: 100%;
    vertical-align: middle;
}