.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  p {
    margin: 0;
  }
  p.sm {
    font-size: 24px;
  }
  small {
    font-size: 24px;
    color: $brown;
  }
  .input-with-keyboard {
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 44px;
    color: $black;
    border: 2px solid $blue;
    height: 60px;
    width: 400px;
    border-radius: 10px;
    background-color: $white;
  }
}
