.payment-confirmation {

}

.payment-confirmation .payment-method {
  .hint-message {
    font-size: 34px;
  }
  .cash {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.payment-confirmation .payment-method .coin {
  display: flex;
  flex-direction: column;
}

.payment-confirmation .payment-method .list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.payment-confirmation .insert-cash-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .insert-cash-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0 0 10px;
    width: 240px;
    background: rgba(250,250,250,1);
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 49%, rgba(224,224,224,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(49%, rgba(250,250,250,1)), color-stop(100%, rgba(224,224,224,1)));
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 49%, rgba(224,224,224,1) 100%);
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 49%, rgba(224,224,224,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 49%, rgba(224,224,224,1) 100%);
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 49%, rgba(224,224,224,1) 100%);
    border: 3px solid #fff;
    border-radius: 10px;
  }
  .error {
    color: red;
    text-align: center;
  }
  .error p {
    margin: 0 0 5px;
  }
}