.product-summary {
    h2 {
        position: relative;
        font-weight: bold;
        font-size: 50px;
        padding-bottom: 0;
        line-height: 1.2;
    }
    .panel {
        display: flex;
        flex-direction: column;
    }
}

.product-summary .action {
    margin-top: 25px;
    .pt {
        font-size: 40px;
        margin: 0 5px;
    }
}