/*--------------------------------------------------------------
- H group
--------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-weight: normal;
    margin: 0;
}

h1 { font-size:76px; font-weight: 700; }
h2 { font-size:46px; }
h3 { font-size:41px; }
h4 { font-size:33px; }
h5 { font-size:27px; }

p {
    font-size: 34px;
    padding:15px 0 0 0;
}

/*--------------------------------------------------------------
- Title Style
--------------------------------------------------------------*/

.title-1 {
    margin: 10px 0;
    h1 {
        margin: 0;
        color: #000;
        font-weight: bold;
    }
}